<html ng-app="UniversityListApp">

<head>
    <title>Universities App</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css" />
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="university-list-app.js"></script>
    <script type="text/javascript" src="groups-ctrl.js"></script>
    <link rel="icon" href="assets/favicon.png">

</head>

<body ng-controller="GroupsCtrl">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Universities</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="test.html">Tests</a></li>
                <li class="active"><a href="group.html">Groups</a></li>
                <li><a href="http://gateway.oai.governify.io/aws1617-04/docs/">API</a></li>
            </ul>
        </div>
    </nav>

    <div class="container" style="margin-top:50px">
        <div class="panel panel-primary">
            <div class="panel-heading">Groups</div>
            <div class="panel-body">
                <div class="ui-widget">
                    <label>Please, select a group: </label>
                    <select class="form-control" ng-model="selectedOption" ng-options="group.name for group in groups track by group._id" ng-change="getUniversity()">
                        <option></option>
                    </select>
                    <p><h4 ng-bind="university_name"></h4></p>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ORCID</th>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="researcher in researches">
                        <td>{{researcher.orcid}}</label>
                        </td>
                        <td>{{researcher.name}}</td>
                        <td>{{researcher.email}}</td>
                    </tr>
                    <table>
                    </table>
                </table>
            </div>
        </div>
    </div>
    </div>

</body>

</html>
